.header {
  background: #006400;
  color: white;
  margin-bottom: 1.2rem;
  padding: 1.6rem 0;
  box-shadow: 0px 5px 20px rgb(71,71,71);
}

.header__title {
  font-size: 3.2rem;
  margin: 0;
}

.header__subtitle {
  color: #78c88a;
  font-size: 1.6rem;
  font-weight: 500;
  margin: 0;
}

@media (min-width: 45rem) {
  .header {
    margin-bottom: 4.8rem;
  }
}